@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class=" mega_menu_inner">
@if (SignInManager.IsSignedIn(User))
{
        <li class="sub_menu pages">
            <a class="btn btn-success " style="margin-right:5px" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
    </li>
        <li class="sub_menu pages">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-success ">Logout</button>
        </form>
    </li>
}
else
{
        <li class="sub_menu pages">
            <a asp-area="Identity" class="btn btn-success "  style="margin-right:5px" asp-page="/Account/Register">Register</a>
    </li>
        <li class="sub_menu pages">
            <a asp-area="Identity" class="btn btn-success" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
